@layer components {
    .theme-input-generic-white {
        @apply border border-gray-900 flex flex-grow;

        > input {
            @apply text-gray-900 bg-white focus:bg-gray-200;
        }
    }

    .theme-button-generic-white {
        $root: &;
        @apply border border-gray-900 text-gray-900;

        &:not(#{$root}--active) {
            @apply bg-white hover:bg-gray-200;
        }

        &--active {
            @apply bg-gray-200;
        }
    }

    .theme-button-generic-yellow {
        $root: &;
        @apply border border-gray-900 text-gray-900;

        &:not(#{$root}--active) {
            @apply bg-yellow-300 hover:bg-yellow-400;
        }

        &--active {
            @apply bg-yellow-400;
        }
    }

    .theme-button-generic-green {
        $root: &;
        @apply border border-gray-900 text-gray-900 ;

        &:not(#{$root}--active) {
            @apply bg-green-300 hover:bg-green-400;
        }

        &--active {
            @apply bg-green-400;
        }
    }

    .theme-checkbox-generic-white {
        $root: &;
        @apply border border-gray-900 bg-white hover:bg-gray-200;
        
        &--active, &:has(:checked) {
            @apply bg-blue-400;
        }
    }

    .theme-textarea-generic-white {
        @apply border border-gray-900 text-gray-900 bg-white;

        > textarea {
            @apply bg-white focus:bg-gray-200;
        }

        [data-role="footer"] {
            @apply bg-transparent border-gray-900;
        }

        [data-role="counter"] {
            @apply border-gray-900;
        }
    }
}